In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('2020-04-30 Coronavirus Tweets.csv')

In [4]:
df.head()

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,retweet_count,country_code,place_full_name,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang
0,1255648057644867584,860252856829587457,2020-04-30T00:00:00Z,IMSS_SanLuis,"Asegura sus beneficios, registra a tu esposa e...",TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,1145,41,NaN,2017-05-04T22:00:38Z,False,es
1,1255648058483724288,42705538,2020-04-30T00:00:00Z,_ElFaro_,"#COVID19 | El Faro conversó con policías, un f...",TweetDeck,NaN,NaN,NaN,False,...,11,NaN,NaN,NaN,513235,643,NaN,2009-05-26T20:01:23Z,True,es
2,1255648056764071940,154836286,2020-04-30T00:00:00Z,Cambio16,"Si ya era cuestionable la burocracia, lo es má...",TweetDeck,NaN,NaN,NaN,False,...,1,NaN,NaN,NaN,17506,1874,NaN,2010-06-12T09:48:50Z,False,es
3,1255648056717897728,36100710,2020-04-30T00:00:00Z,GobCDMX,Las medidas de higiene ayudan a reducir la pro...,Twitter Media Studio,NaN,NaN,NaN,False,...,38,NaN,NaN,NaN,2779321,215,NaN,2009-04-28T15:55:16Z,True,es
4,1255648058295169025,849376242637864960,2020-04-30T00:00:00Z,IMSSZac,Cubre tu nariz y boca al estornudar con el áng...,TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,962,208,NaN,2017-04-04T21:40:51Z,False,es

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355387 entries, 0 to 355386
Data columns (total 22 columns):
status_id               355387 non-null int64
user_id                 355387 non-null int64
created_at              355387 non-null object
screen_name             355387 non-null object
text                    355387 non-null object
source                  355370 non-null object
reply_to_status_id      41115 non-null float64
reply_to_user_id        49341 non-null float64
reply_to_screen_name    49341 non-null object
is_quote                355387 non-null bool
is_retweet              355387 non-null bool
favourites_count        355387 non-null int64
retweet_count           355387 non-null int64
country_code            14313 non-null object
place_full_name         14372 non-null object
place_type              14372 non-null object
followers_count         355387 non-null int64
friends_count           355387 non-null int64
account_lang            0 non-null float64
account_created_at      355387 non-null object
verified                355387 non-null bool
lang                    355387 non-null object
dtypes: bool(3), float64(3), int64(6), object(10)
memory usage: 52.5+ MB

In [6]:
df.isnull().sum()

status_id                    0
user_id                      0
created_at                   0
screen_name                  0
text                         0
source                      17
reply_to_status_id      314272
reply_to_user_id        306046
reply_to_screen_name    306046
is_quote                     0
is_retweet                   0
favourites_count             0
retweet_count                0
country_code            341074
place_full_name         341015
place_type              341015
followers_count              0
friends_count                0
account_lang            355387
account_created_at           0
verified                     0
lang                         0
dtype: int64

In [7]:
df = df.drop(['reply_to_status_id', 'reply_to_user_id' , 'reply_to_screen_name' , 'country_code' , 'place_full_name' , 'place_type' , 'account_lang'], axis=1)

In [8]:
df.columns

Index(['status_id', 'user_id', 'created_at', 'screen_name', 'text', 'source',
       'is_quote', 'is_retweet', 'favourites_count', 'retweet_count',
       'followers_count', 'friends_count', 'account_created_at', 'verified',
       'lang'],
      dtype='object')

In [9]:
df.isnull().sum()

status_id              0
user_id                0
created_at             0
screen_name            0
text                   0
source                17
is_quote               0
is_retweet             0
favourites_count       0
retweet_count          0
followers_count        0
friends_count          0
account_created_at     0
verified               0
lang                   0
dtype: int64

In [10]:
df.source

0                    TweetDeck
1                    TweetDeck
2                    TweetDeck
3         Twitter Media Studio
4                    TweetDeck
                  ...
355382      Twitter for iPhone
355383                 HubSpot
355384                 HubSpot
355385         Twitter Web App
355386      Twitter for iPhone
Name: source, Length: 355387, dtype: object

In [16]:
df.duplicated().sum()

22

In [19]:
df.drop_duplicates(subset=None, keep='first', inplace=True)

In [20]:
df.duplicated().sum()

0

In [22]:
df.lang.value_counts()

en     198566
es      57284
fr      21636
und     14495
it      10817
        ...
ka          3
ckb         3
hy          2
my          1
km          1
Name: lang, Length: 63, dtype: int64

In [ ]:
!pip install googletrans

In [40]:
import googletrans

print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'he': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'or': 'odia', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'ug': 'uyghur', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu'}

In [46]:
from googletrans import Translator

In [47]:
translator.translate('مرحبا' ,  dest='ar')

In [48]:
tweet = df.text
translator = Translator()

In [49]:
Translator().translate.detect(df.text)

AttributeError: 'function' object has no attribute 'detect'